{{ form_start(form , {attr: {id: "frmEmprunt"}}) }}
    {{form_row(form.abonne)}}

    {{ form_widget(form) }}

    {{ form_end(form) }}
    <div class="d-flex justify-content-between">
    <button class="btn btn-primary" form="frmEmprunt">{{ button_label|default('Enregistrer') }}</button>
    {% if emprunt.id is not null %}
    {{ include('admin/emprunt/_delete_form.html.twig') }}
    {% endif %}
    <a href="{{ path('app_admin_emprunt_index') }}" class="btn btn-danger">Annuler</a>
    </div>