{% extends "base.html.twig" %}

{% block title %}Confirmation suppression{% endblock %}

{% block body %}
    <h2>Êtes-vous sûr(e) de vouloir supprimer le livre n°{{ livre.id }} ?</h2>
    
    <ul class="list-group">
        <li class="list-group-item">
            <strong>ID</strong> : {{ livre.id }}
        </li>
        <li class="list-group-item">
            <strong>Titre</strong> : {{ livre.titre }}
        </li>
        <li class="list-group-item">
            <strong>Résumé</strong> : {{ livre.resume }}
        </li>
    </ul>
    <form method="post">
        <div class="d-flex justify-content-between my-4">
            <button type="submit" class="btn btn-success">Confirmer</button>
            <a href="{{ path('app_livre') }}" class="btn btn-danger">Annuler</a>
        </div>
    </form>

{% endblock %}