{% extends 'base.html.twig' %}

{% block title %}Hello LivreController!{% endblock %}

{% block body %}
<table class="table table-bordered">
    <thead class="table-dark">
        <th>ID</th>
        <th>Titre</th>
        <th>resumer</th>
        <th>actions</th>
    </thead>
    <tbody>   
    {% if liste_livres|length %}
    {% for livre in liste_livres %}
        <tr>
            <td>{{livre.id}}</td>
            <td>{{livre.titre}}</td>
            <td>{{livre.resume}}</td>
            <td>
                <a href="{{path("app_livre_modifier",{id: livre.id})}}">modif</a>
            <a href="{{path("app_livre_supprimer",{id: livre.id})}}">supp</a>
            </td>
        </tr>
    {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">Pas de livre</td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
