{{ form_start(form) }} 
    <div class="d-flex">
        <div class="col">
            {{form_widget(form.prenom , {attr: {placeholder : "Prénom"}} )}}
            {{ form_errors(form.prenom)}}
        </div>
        <div class="col"> 
            {{form_widget(form.nom ,{attr: {placeholder : "Nom"}} )}}
            {{ form_errors(form.nom)}}
        </div>
    </div>
    {{ form_row(form.naissance , {attr: {class: "bg-danger"}, label: "Date"} ) }}
    {# {{ form_widget(form) }} #}
    <button class="btn btn-primary mb-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

{# {{ form(form) }} #}