{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livre index</h1>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Resume</th>
                <th>Genre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.auteur.prenom ~ " " ~ livre.auteur.nom }}</td>
                <td>{{ livre.resume }}</td>
                <td>
                    {% for genre in livre.genres %}
                        {{genre.libelle ~ (loop.last ? "" : " , ")}}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_admin_livre_show', {'id': livre.id}) }}"><i class="fa fa-book"></i></a>
                    <a href="{{ path('app_admin_livre_edit', {'id': livre.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_livre_new') }}">Create new</a>
{% endblock %}
